* {
  font-family: 'Roboto Condensed', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.center {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

p,
h1 {
  margin: 0;
  padding: 0;
}

.dog {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
